@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:303238ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import './var.scss';

body {
  margin: 0;
  padding: 0;
}

main {
    background: $grey1;
    color: #fff;
    font-family: "Popins", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;

    .panel-left {
        width: 70%;
        min-width: 500px;
    }

    .panel-left .canvas-container {
        width: 100%;
        height: calc(100% - 40px);
        overflow: scroll;
        box-sizing: border-box;

        .canvas-container .wrapper {
            min-height: 100%;
            display: flex;
            align-items: center;
        }
        
        .btns-container {
            padding: 0 24px;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            width: 100%;
            height: 40px;

            .btn-container {
                margin-right: 24px;

                label {
                    margin-right: 4px;
                }
            }
        }
    }
    
    .panel-right {
        width: 30%;
        background: $grey2;
    }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: $grey3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $grey4;
}

::-webkit-scrollbar-corner {
  background: $grey1;
}

input[type=range] {
  cursor: pointer;
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 4px;
  background: $grey2;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: $blue1;
  -webkit-appearance: none;
}