@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:303238ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

main {
  background: #303238;
  color: #fff;
  font-family: "Popins", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
}
main .panel-left {
  width: 70%;
  min-width: 500px;
}
main .panel-left .canvas-container {
  width: 100%;
  height: calc(100% - 40px);
  overflow: scroll;
  box-sizing: border-box;
}
main .panel-left .canvas-container .wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
}
main .panel-left .btns-container {
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
main .panel-left .btns-container .left {
  display: flex;
}
main .panel-left .btns-container .left .btn-container {
  margin-right: 24px;
}
main .panel-left .btns-container .left .btn-container label {
  margin-right: 4px;
}
main .panel-right {
  width: 30%;
  background: #43454d;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #676972;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777a85;
}

::-webkit-scrollbar-corner {
  background: #303238;
}

input[type=range] {
  cursor: pointer;
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 4px;
  background: #43454d;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #36d3ff;
  -webkit-appearance: none;
}